<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="Running Platform" sequenceNumber="8">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="F:\work\ssss\rcp_example\target\spring-osgi-1.2.1\dist" type="Directory"/>
<location path="F:\work\ssss\rcp_example\target\spring-osgi-1.2.1\dist\extensions" type="Directory"/>
<location path="F:\work\ssss\rcp_example\target\spring-osgi-1.2.1\lib" type="Directory"/>
<location path="F:\work\ssss\rcp_example\target\springsource" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>zh_CN</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
